<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ignites</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Igniters Random Trivia!</h1>
        <p>Test your knowledge with random trivia questions.</p>
        <a href="/quiz" target="_blank">Start Quiz</a>
    </div>
</body>
</html>
